body{margin:0;padding:0;width: 100%;margin:0 auto;}
article{
  max-width:640px;
  min-width:320px;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}

.main_body{
  position: relative;
  height: 100%;
  z-index: 1;
}
.main_body #kava, .main_body #wifi{
  position: absolute;
  width: 100%;
  margin: 0 0;
}
.main_body #kava{
  top: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #3b4a69, #3b4e6e);
}

.main_body #kava img, .main_body #wifi img{
  display: list-item;
  margin: 0 auto;
}
.main_body #kava img:nth-child(1){margin-top: 20px;}
.main_body #kava img:nth-child(2){margin:10px auto;}

.main_body #wifi #arrow{
  display: block;
  margin: -66px auto 0;
  max-width: 113px;
  height: 62px;
  transition: background-image 0.5s ease-in-out;
  background:transparent url("img/4.png") no-repeat top center;
  animation: blinker 2s linear infinite;
}
.main_body #wifi{
  background: #D7DADF;
  bottom: -130px;
  height: auto;
  border-radius: 8% 8% 0 0;
}
.main_body #wifi>img{margin-top: 5%;}

@keyframes blinker {
  50% {opacity: 0;}
}